<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">My ongoing journey</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/medullan.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2013 - Present</h4>
                                    <h4 class="subheading">Software Developer & Consultant at Medullan Inc.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Develop web and mobile based software to drive innovation for the healthcare industry using agile methodologies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uwi.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013 - January 2015</h4>
                                    <h4 class="subheading">Marker for the Department of Computing, University of the West Indies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">To grade assignments and projects for the Department of Computing while provided feedback for areas in which the students could improve in.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dj3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January - February 2014</h4>
                                    <h4 class="subheading">Lead Developer on Missin-ger</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Missin-ger Mobile App for Digital Jam 3 Competition. A mobile application which enables persons to submit missing persons reports in order to aid with lead generation and social publicizing in order to make lives whole again. Placed in the Top 6 for the Caribbean. In the category: Pioneers of the Caribbean</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/egov.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June - July 2013</h4>
                                    <h4 class="subheading">Intern at eGov Jamaica Ltd.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Application Developer in the Business Solution Services Division. Worked as apart of a team dedicated to developing solutions for the Government of Jamaica.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uwi.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013</h4>
                                    <h4 class="subheading">Graduate of the University of the West Indies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1st Class Honours with a Major in Computer Science and a Minor in Economics. Recipient of the Dean's List Award.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>The 
                                    <br>Humble 
                                    <br>Beginning
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>