 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <a href="img/portfolio/{{ post.img }}"><img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
                        <p>{{ post.description }}</p>
                        <ul class="list-inline item-details">
                            {% if post.client != null %}
                            <li>Client:
                                <strong class="text-primary">{{ post.client }}</strong>
                            </li>
                            {% endif %}
                            {% if post.github != null %}
                            <li>Github:
                                <a href="{{post.github.url}}"><strong class="text-primary">{{ post.github.project}}</strong></a>
                            </li>
                            {% endif %}
                            <li>Date:
                                <strong class="text-primary">{{ post.project-date }}</strong>
                            </li>
                            <li>Service:
                                <strong class="text-primary">{{ post.category }}</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
